body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.usrindex{
    width: 400px;
    float:left;
    padding-left: 10px;
}

#usrdivider{
    width:50px;
    float: left;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

#red-fill, #red-brush, #green-fill, #green-brush, #blue-fill, #blue-brush {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}
#swatch-fill, #swatch-brush  {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
}
#red-brush .ui-slider-range { background: #ef2929; }
#red-brush .ui-slider-handle { border-color: #ef2929; }
#red-fill .ui-slider-range { background: #ef2929; }
#red-fill .ui-slider-handle { border-color: #ef2929; }
#green-brush .ui-slider-range { background: #8ae234; }
#green-brush .ui-slider-handle { border-color: #8ae234; }
#green-fill .ui-slider-range { background: #8ae234; }
#green-fill .ui-slider-handle { border-color: #8ae234; }
#blue-brush .ui-slider-range { background: #729fcf; }
#blue-brush .ui-slider-handle { border-color: #729fcf; }
#blue-fill .ui-slider-range { background: #729fcf; }
#blue-fill .ui-slider-handle { border-color: #729fcf; }