<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Paint online</a>
        </div>

        <div class="collapse navbar-collapse">

            <% if(req.isAuthenticated()) { %>
            <% if (req.user.role == 'admin') { %>
            <ul class="nav navbar-nav">
                <li><a href="/export-users">Экспортировать список пользователей</a></li>
            </ul>
            <%}%>
            <p class="navbar-text pull-right">
                Вошли как <a class="navbar-link" href="/users/<%=req.user.id%>"><%=req.user.username %></a> (<a id="sign-out" href="/logout">Выйти</a>)
            </p>
            <% } %>
            <ul class="nav navbar-nav">
                <% if(!req.isAuthenticated()) { %>
                <li class="active">Войти</li>
                <% } %>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<br>