<% layout('../layouts/default') -%>
<h3>Чтобы пользоваться, надо зарегестироваться, или войти</h3>
<div class="container">
<div class="usrindex">
<div class="jumbotron">
    <div id="create">
        <form action="/users" method="post" role="form">
            <h2>Пожалуйста, зарегистрируйтесь</h2>
            <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
            <div class="form-group">
                <label for="InputLogin">Логин</label>
                <input name="username" value="<%=user.username%>" type="text" class="form-control" id="InputLogin" placeholder="Логин" autofocus required>
            </div>
            <div class="form-group">
                <label for="InputEmail">Электронная почта</label>
                <input name="email" value="<%=user.email%>" type="email" class="form-control" id="InputEmail" placeholder="Электронная почта" required>
            </div>
            <div class="form-group">
                <label for="InputPassword">Пароль</label>
                <input name="password" type="password" class="form-control" id="InputPassword" placeholder="Пароль" required>
            </div>
            <button class="btn btn-lg btn-success" type="submit">Зарегистироваться</button>
        </form>
    </div>
</div>
</div>
<div id="usrdivider"> </div>
<div class="usrindex">
    <div class="jumbotron">
        <div id="login">
            <form action="/users/session" method="post">
                <h2 >Пожалуйста, войдите</h2>
                <p id="auth-error"><%=message%></p>
                <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
                <div class="form-group">
                    <label for="InputEmailSignUp">Электронная почта</label>
                    <input name="email" value="<%=user.email%>" type="email" class="form-control" id="InputEmailSignUp" placeholder="Электронная почта" required>
                </div>
                <div class="form-group">
                    <label for="InputPasswordSignUp">Пароль</label>
                    <input name="password" type="password" class="form-control" id="InputPasswordSignUp" placeholder="Пароль" required>
                </div>

                <button class="btn btn-lg btn-success" type="submit">Войти</button>
            </form>
        </div>
    </div>
    </div>
</div>
</div>

