<% layout('../layouts/default') -%>

<div class="usrindex">
<div class="container">
    <div id="login">
        <form action="/users/session" method="post">
            <h2 >Пожалуйста, войдите</h2>
            <p id="auth-error"><%=message%></p>
            <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
            <div class="form-group">
                <label for="InputEmailSignUp">Электронная почта</label>
                <input name="email" type="email" class="form-control" id="InputEmailSignUp" placeholder="Электронная почта" required>
            </div>
            <div class="form-group">
                <label for="InputPasswordSignUp">Пароль</label>
                <input name="password" type="password" class="form-control" id="InputPasswordSignUp" placeholder="Пароль" required>
            </div>

            <button class="btn btn-lg btn-success" type="submit">Войти</button>
        </form>
    </div>

</div>
</div>