<% layout('../layouts/default') -%>


<div class="container">
    <div id="index-forms">
        <h1>Профиль</h1>
        <h2>Логин: <%=user.username%></h2>
        <h2>Электронная почта: <%=user.email%></h2>
        <h2>Роль: <%=user.role%></h2>
    </div>
</div>