<% layout('../layouts/default') -%>

<div class="usrindex">
<div class="container">
    <div id="create">
        <form action="/users" method="post" role="form">
            <h2>Пожалуйста, зарегистрируйтесь</h2>
            <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
            <% if (typeof(errors)!='undefined') { %>
            <p><%=errors%></p>
            <%}%>
            <div class="form-group">
                <label for="InputLogin">Логин</label>
                <input name="username" value="<%=user.username%>" type="text" class="form-control" id="InputLogin" placeholder="Логин" autofocus required>
            </div>
            <div class="form-group">
                <label for="InputEmail">Электронная почта</label>
                <input name="email" value="<%=user.email%>" type="email" class="form-control" id="InputEmail" placeholder="Электронная почта" required>
            </div>
            <div class="form-group">
                <label for="InputPassword">Пароль</label>
                <input name="password" type="password" class="form-control" id="InputPassword" placeholder="Пароль" required>
            </div>
            <button class="btn btn-lg btn-success" type="submit">Зарегистироваться</button>
        </form>
    </div>
</div>
</div>