<% layout('../layouts/default') -%>
<h3>Список комнат</h3>



<%if (rooms.length){ %>
<div class="row">
        <% rooms.forEach(function(el, index){ %>
        <% if ((el.type=='on' && el.user.username==user.username) || el.type=='off' || user.role=='admin'){%>
        <div class="col-sm-6 col-md-3">
              <h4><%=el.title%>
                  <%if (el.type=='on') {%>
                  (Приватная)
                  <%}%></h4>

              <a href="<%='/rooms/'+el._id%>" class="thumbnail"><img  src=<%= el.image %> /></a>

              <%if (el.user.username==user.username || user.role=='admin'){%>
            <br>

            <form  action="<%='/rooms/'+el._id%>" method="post" role="form">
                <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-lg btn-danger" type="submit">Удалить</button>

            </form>
              <%}%>
        </div>
        <%} %>
        <%});   %>
</div>
<%} else{%>
    <h4>Комнат нет, создайте:</h4>
<%}%>


<h3><a href="/rooms/new">Создать новую комнату</a></h3>


