<% layout('../layouts/default') -%>

<h3>Создать комнату</h3>
<div class="usrindex">
<form  action="/rooms" method="post" role="form">
    <input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
    <% if (typeof(errors)!='undefined') { %>
    <p><%=errors%></p>
    <%}%>
    <div class="form-group">
        <label for="InputTitle">Название</label>
        <input name="title" type="text" class="form-control" id="InputTitle" placeholder="Название" required>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input name="type" type="checkbox"> Личная (можно перейти только из этого пользователя, или по прямой ссылке)
            </label>
        </div>
    </div>
    <button class="btn btn-lg btn-default btn-block" type="submit">Создать</button>
</form>
</div>
