<% layout('../layouts/default') -%>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/all.my.js"></script>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/draw.js"></script>
<script type="text/javascript" src="/js/jquery-ui-extd.js"></script>

<div class="row" >
    <div class="col-lg-5">
        <div class="btn-group">

            <div class="btn-group">
                <button type="button" class="btn btn-default " data-toggle="dropdown" >
                    Кисти
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="BrushesDropdown">
                    <li><a href="#" id="PencilBrush">Карандаш</a></li>
                    <li><a href="#" id="CircleBrush">Кисть</a></li>

                </ul>
            </div>

            <div class="btn-group">

                <div class="btn-group">
                    <button type="button" class="btn btn-default " data-toggle="dropdown" id="btn_fig">
                        Фигуры
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="Rect">Квадрат</a></li>
                        <li><a href="#" id="Circle">Круг</a></li>
                        <li><a href="#" id="Triangle">Треугольник</a></li>
                    </ul>
                </div>

            </div>

            <button type="button" class="btn btn-default" id="btn_size">
                Параметры
            </button>
            <button type="button" class="btn btn-default" id="btn_del_obj">
                Удалить фигуру
            </button>

            </div>
    </div><!-- /.col-lg-6 -->

    <div class="col-lg-7">
        <span class="btn btn-default btn-file">
            Добавить картинку <input type="file" id="imagefile">
        </span>
        <button type="button" class="btn btn-default" id="btn_clear">Очистить</button>
        <button type="button" class="btn btn-default" id="drawmod" >Выключить режим рисования</button>
        <button type="button" class="btn btn-default" id="download_jpg" >Скачать картинку</button>
    </div>
</div><!-- /.row -->

<br>

<div id="wrapper-canvas">
    <canvas id="canvasMain"  style="border:1px solid #000000; ">
        Your browser needs to support canvas for this to work!
    </canvas>
</div>

<br>


<div id='brush-dialog' title='Настройки' hidden="hidden">
    <p>Размер кисти  <span id='badge_size' class='badge'></span></p>
    <div id='slider-brush'></div> <br>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab">Выбор цвета границ</a></li>
        <li><a href="#pane2" data-toggle="tab">Выбор цвета закраски</a></li>

    </ul>


    <div class="tab-content">
        <div id="pane1" class="tab-pane active">
            <div id='red-brush'></div>
            <div id='green-brush'></div>
            <div id='blue-brush'></div>
            <div id='swatch-brush' class='ui-widget-content ui-corner-all'></div>
        </div>
        <div id="pane2" class="tab-pane">
            <input type='checkbox' id='fill-or-not' /><label for='fill-or-not'>Закрашивать фигуры</label>
            <div id='red-fill'></div>
            <div id='green-fill'></div>
            <div id='blue-fill'></div>
            <div id='swatch-fill' class='ui-widget-content ui-corner-all'></div>
        </div>
    </div>


</div>


