<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />

</head>
<body>
<header>
    <%-partial('../partials/topNavigation')%>
</header>

<section id="main-content" class="container" >
    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
</footer>


</body>
</html>


